<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>myapp</title>
    {% endif %}
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
                <a class="nav-link" href="/dict">Переводчик</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>