{% extends "base.html" %}
{% block content %}
<form action="dict" method="post">

    {% if request.method == "POST" %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Слово:</label>
            <input type="text" class="form-control" name="word" value="{{ data["eng_word"] }}">
        </div>

        <div>
            <h4>{{ data["word"] }}</h4>
        </div>
    {% else %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Слово:</label>
            <input type="text" class="form-control" name="word" placeholder=" Type word on English ">
        </div>
    {% endif %}

    <div class="form-group">
        <button class="btn btn-dark" type="submit" formmethod="post">Перевести</button>
    </div>
</form>
{% endblock %}